.educationContainer {
  width: 75%;

  margin-top: 7rem;
  margin-bottom: 10rem;
  height: 50rem;
}

.educationContainerHeader {
  display: flex;
  width: 50%;
  align-items: flex-end;
  justify-content: center;
  padding-top: 5rem;
}

.educationContainerNumeral {
  font-size: 4.5rem;
  margin: 0;
}

.educationContainerTitle {
  display: flex;

  justify-content: center;

  font-size: 4rem;
  margin: 0;
  margin-left: 1rem;
}

.educationContainerTitle,
.educationContainerNumeral,
.educationCourse,
.educationInstitution,
.educationDates {
  color: #14213d;
}

.educationTextBox {
  width: 100%;

  margin-top: 10rem;
}

.educationCourseCont {
  list-style: none;
}

.educationCourseCont li:before {
  content: '•';
  font-size: 1rem;
}

.educationCourseBox {
  display: flex;

  align-items: center;

  margin-top: 2rem;

  justify-content: space-around;

  width: 75%;
}

.educationCourse {
  font-size: 1.8rem;
  margin: 0;

  margin-left: 4rem;
}

.educationInstitution {
  margin: 0;
  margin-left: 1.5rem;
}

.educationInstitution,
.educationDates {
  font-size: 1.7rem;
  font-weight: 500;
}

.educationDatesBox {
  display: flex;
  margin-left: 2rem;
}
