.landingContainer {
  background-color: #e5e5e5;
  width: 100%;
  height: 88rem;
}

.landingContainerExtra {
  background-color: #e5e5e5;
  width: 100%;
  height: 79rem;
}

.landingHero {
  display: flex;
  margin-top: 7rem;
}

.landingImgBox {
  display: flex;
  width: 40%;

  object-fit: contain;
  margin: 0;

  margin-left: 5%;
  overflow: hidden;
  border-radius: 30rem;
}

.landingImgScaled {
  width: 40rem;

  transition: all 0.2s;

  border-radius: 30rem;
  scale: 2;
}

.landingHeroDescription {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.landingHeroDescription h3 {
  font-size: 5rem;
  margin: 4rem 1rem;
  font-weight: 500;
}

.landingHeroDescription p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.landingHeroDescription p,
.landingHeroDescription h3 {
  color: #14213d;
}

.landingJobTechBox {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 20rem;
  margin-top: 8rem;

  background-color: white;
}

.landingJobHeading {
  margin-top: 3rem;
  font-size: 2rem;
  opacity: 0.7;
}

.landingJobTech {
  display: flex;

  width: 50%;
  height: 20rem;
}

.landingJobTechLogos {
  width: 7rem;
  opacity: 0.7;
}

@media (max-width: 64em) {
  .landingJobTech {
    width: 70%;
  }

  .landingJobTechLogos {
    width: 5.5rem;
  }
}

@media (max-width: 48em) {
  .landingContainer {
    height: 110rem;
  }

  .landingContainerExtra {
    height: 90rem;
    margin-top: 17.5rem;
  }

  .landingHero {
    flex-direction: column;
  }

  .landingImgBox {
    width: 100%;
    margin: 0;
  }

  .landingImgScaled {
    width: 30rem;
  }

  .landingHeroDescription {
    margin: 0rem 2rem;
    width: 100%;
  }

  .landingHeroDescription h3 {
    text-align: center;
  }

  .landingJobTechLogos {
    width: 5rem;
  }
}

@media (max-width: 23.44em) {
  .landingContainer {
    height: 116rem;
  }

  .landingContainerExtra {
    height: 100rem;
    margin-top: 16.8rem;
  }

  .landingHero {
    flex-direction: column;

    margin-top: 3rem;
  }

  .landingImgBox {
    width: 100%;
    margin: 0;
  }

  .landingImgScaled {
    width: 30rem;
  }

  .landingHeroDescription {
    margin: 0rem 1rem;
    width: 90%;
  }

  .landingHeroDescription h3 {
    text-align: center;
  }

  .landingJobTech {
    width: 100%;
  }
  .landingJobTechLogos {
    width: 5rem;
  }
}
