.projectsContainer {
  width: 75%;

  margin-top: 10rem;
}

.projectsContainerHeader {
  display: flex;
  width: 17%;
  align-items: flex-end;
}

.projectsContainerNumeral {
  font-size: 4.5rem;
}

.projectsContainerTitle {
  display: flex;

  justify-content: center;

  font-size: 4rem;
}

.projectsContainerTitle,
.projectsContainerNumeral {
  color: #14213d;
}

.projectCont {
  margin-top: 10rem;

  display: flex;

  flex-direction: row;
}

.projectImgs {
  display: grid;
}
