.projectsContainer {
  width: 75%;
  height: 10rem;

  margin-top: 10rem;
}

.projectsContainerHeader {
  display: flex;
  width: 17%;
  align-items: flex-end;
}

.projectsContainerNumeral {
  font-size: 4.5rem;
}

.projectsContainerTitle {
  display: flex;

  justify-content: center;

  font-size: 4rem;
}

.projectsContainerTitle,
.projectsContainerNumeral {
  color: #14213d;
}
