.contactContainer {
  height: 85rem;
  background-color: #e5e5e5;
  padding-top: 10rem;
}

.contactBox {
  display: flex;

  width: 50%;
  background-color: #14213d;
  height: 50rem;
  border-radius: 5rem;

  overflow: hidden;
}

.contactTextBox {
  display: flex;
  flex-direction: column;

  gap: 8rem;
  width: 50%;

  padding: 5rem;
}

.contactContainerHeader {
  display: flex;
  width: 60%;
}

.contactContainerNumeral {
  color: #e5e5e5;
  font-size: 3.7rem;
}

.contactContainerTitle {
  color: #e5e5e5;
  font-size: 4rem;
}

.contactParagraph {
  color: #e5e5e5;
  font-size: 1.7rem;
  line-height: 3rem;
}

.contactLinks {
  display: flex;
  width: 100%;
}

.contactGitBox,
.contactLinkedinBox,
.contactXBox {
  width: 10%;
}

.contactDetailsBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;

  padding: 5rem;

  background-color: #e5e5e5;
  border: 0.5rem solid #14213d;
  border-radius: 5rem;
}

.contactImgBox {
  display: flex;

  justify-content: center;

  overflow: hidden;
}

.contactImg {
  width: 90%;
  border-radius: 5rem;
}

.contactDetailsCont {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  justify-content: flex-start;
  width: 100%;
}

.contactPhoneCont {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.contactContacts {
  margin: 0;
}

.contactNumber {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #14213d;
}

.contactNumberLink {
  text-decoration: none;
  color: black;
}

.contactNumberLink:hover .contactNumber {
  color: #4966a5;
}

@media (max-width: 90em) {
  .contactBox {
    width: 60%;
    height: auto;
  }
  .contactImg {
    width: 100%;
  }

  .contactTextBox {
    padding: 3rem;
  }

  .contactLinks {
    width: 70%;
  }
}

@media (max-width: 64em) {
  .contactBox {
    width: 75%;
    height: auto;
  }

  .contactImg {
    width: 100%;
  }

  .contactDetailsCont {
    width: 90%;
  }

  .contactDetailsBox {
    padding: 3rem;
  }
}

@media (max-width: 48em) {
  .contactContainer {
    height: auto;
  }
  .contactBox {
    width: 75%;
    flex-direction: column;
    height: auto;
  }

  .contactTextBox {
    width: 80%;
    gap: 5rem;
  }

  .contactContainerHeader {
    width: 60%;
  }

  .contactLinks {
    width: 70%;
  }

  .contactDetailsBox {
    width: 100%;
  }

  .contactDetailsCont {
    width: 70%;
  }

  .contactImg {
    width: 80%;
  }
}

@media (max-width: 23.44em) {
  .contactBox {
    width: 95%;
    flex-direction: column;
    height: auto;
  }

  .contactTextBox {
    width: 100%;
    gap: 5rem;
  }

  .contactContainerHeader {
    margin: 0;
    width: 100%;
  }

  .contactDetailsBox {
    width: 100%;
  }

  .contactImg {
    width: 100%;
  }

  .contactDetailsCont {
    width: 90%;
  }
}
