.experienceContainer {
  margin: auto 0;

  margin-top: 10rem;

  background-color: #e5e5e5;

  height: 156.1rem;
}

.experienceContainerHeader {
  display: flex;
  width: 50%;
  align-items: flex-end;
  justify-content: center;
  padding-top: 5rem;
}

.experienceContainerNumeral {
  font-size: 4.5rem;
  margin: 0;
}

.experienceContainerTitle {
  display: flex;

  justify-content: center;

  font-size: 4rem;
  margin: 0;
  margin-left: 1rem;
}

.experiencesContainer {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  margin-top: 7rem;
  padding-bottom: 10rem;
}

.experiencesBox {
  display: flex;
  flex-direction: row;
  width: 70%;

  justify-content: space-between;

  margin-top: 5rem;
}

.experiencesCont {
  display: flex;
  position: absolute;
  flex-direction: column;

  width: 48%;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.7s ease-in;
}

.experiencesContAnimation {
  display: flex;
  flex-direction: column;

  width: 48%;
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.7s ease-in;
}

.experiencesYearsCont {
  display: flex;
  flex-direction: row;

  width: 40%;
}

.experiencesYears {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.experiencesJobCont {
  display: flex;
  margin-top: 2.5rem;
}

.experiencesJob {
  font-size: 2.2rem;
}

.experiencesBulletsCont {
  display: flex;
  align-items: center;
  margin: 0;
  width: 2%;
  height: 2rem;
}

.experiencesBullets {
  font-size: 1.5rem;
}

.experiencesCompanyCont {
  display: flex;
  flex-direction: column;
  position: absolute;

  width: 48%;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.7s ease-in;
}

.experiencesCompanyContAnimation {
  display: flex;
  flex-direction: column;

  width: 48%;
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.7s ease-in;
}

.experiencesCompany {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.experiencesResponsabilitiesCont {
  margin-top: 2.5rem;
  list-style: none;
  width: 100%;

  transition: all 0.3s;
}

.experiencesResponsabilities {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 0.7rem;
}

.experienceContainerTitle,
.experienceContainerNumeral,
.experiencesYears,
.experiencesJob,
.experiencesCompany,
.experiencesResponsabilities {
  color: #14213d;
}

.readMoreText {
  font-size: 1.5rem;
}

@media (max-width: 90em) {
  .experienceContainer {
    height: 168.1rem;
  }
}

@media (max-width: 64em) {
  .experiencesYearsCont {
    width: 50%;
  }

  .experienceContainer {
    height: 186.1rem;
  }
}

@media (max-width: 48em) {
  .experiencesBox {
    width: 95%;
    gap: 1rem;
    flex-direction: column;
  }

  .experiencesBulletsCont {
    display: none;
  }

  .experiencesContAnimation {
    width: 100%;
  }

  .experiencesYearsCont {
    width: 30%;
  }

  .experiencesCompanyContAnimation {
    width: 80%;
  }

  .experienceContainer {
    height: 188.1rem;
  }
}

@media (max-width: 23.44em) {
  .experiencesContainer {
    margin-top: 3rem;

    padding-bottom: 7rem;
  }

  .experiencesBox {
    width: 95%;
    gap: 1rem;
    flex-direction: column;
  }

  .experiencesYearsCont {
    width: 50%;
  }

  .experiencesResponsabilitiesCont {
    margin-top: 3.5rem;
  }

  .experiencesResponsabilities {
    margin-top: 1rem;
  }

  .experiencesBulletsCont {
    display: none;
  }

  .experiencesContAnimation {
    width: 100%;
  }

  .experiencesCompanyContAnimation {
    width: 100%;
  }

  .experienceContainer {
    height: 227.6rem;
  }
}
