.experienceContainer {
  margin: auto 0;

  margin-top: 10rem;

  background-color: #e5e5e5;
}

.experienceContainerHeader {
  display: flex;
  width: 50%;
  align-items: flex-end;
  justify-content: center;
  padding-top: 5rem;
}

.experienceContainerNumeral {
  font-size: 4.5rem;
  margin: 0;
}

.experienceContainerTitle {
  display: flex;

  justify-content: center;

  font-size: 4rem;
  margin: 0;
  margin-left: 1rem;
}

.experiencesContainer {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  margin-top: 7rem;
}

.experiencesBox {
  display: flex;
  flex-direction: row;
  width: 70%;

  justify-content: space-between;

  margin-top: 5rem;
}

.experiencesCont {
  display: flex;
  flex-direction: column;

  width: 48%;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.7s ease-in;
}

.experiencesContAnimation {
  display: flex;
  flex-direction: column;

  width: 48%;
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.7s ease-in;
}

.experiencesYearsCont {
  display: flex;
  flex-direction: row;

  width: 40%;
}

.experiencesYears {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.experiencesJobCont {
  display: flex;
  margin-top: 2.5rem;
}

.experiencesJob {
  font-size: 2.2rem;
}

.experiencesBulletsCont {
  display: flex;
  align-items: center;
  margin: 0;
  width: 2%;
  height: 2rem;
}

.experiencesBullets {
  font-size: 1.5rem;
}

.experiencesCompanyCont {
  display: flex;
  flex-direction: column;

  width: 48%;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.7s ease-in;
}

.experiencesCompanyContAnimation {
  display: flex;
  flex-direction: column;

  width: 48%;
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.7s ease-in;
}

.experiencesCompany {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.experiencesResponsabilitiesCont {
  margin-top: 2.5rem;
  list-style: none;
  width: 100%;
}

.experiencesResponsabilities {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 0.7rem;
}

.experienceContainerTitle,
.experienceContainerNumeral,
.experiencesYears,
.experiencesJob,
.experiencesCompany,
.experiencesResponsabilities {
  color: #14213d;
}
