* {
  max-width: 269.1rem;
  margin: 0 auto;
  font-size: 62.5%;
  box-sizing: border-box;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: Georgia, "Times New Roman", Times, serif;
}
