.landingNav {
  display: flex;

  width: 100%;
  height: 13rem;

  justify-content: center;
  align-items: center;
}

.landingNavNameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  width: 50%;

  gap: 0.5rem;
}

.landingNavName {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.landingNavName:hover .landingNavNameFirst,
.landingNavName:hover .landingNavNameRest {
  color: #2b4783;
}

.landingNavNameFirst {
  font-size: 4rem;
}

.landingNavNameRest {
  font-size: 3rem;
}

.landingNavJobBox {
  display: flex;
  flex-direction: column;

  width: 100%;

  justify-content: space-between;
  align-items: center;

  gap: 0.5rem;
}

.landingNavJob {
  font-size: 1.3rem;
}

.landingNavNameFirst,
.landingNavNameRest,
.landingNavJob,
.landingMenuTitles {
  color: #14213d;
}

.landingNavMenu {
  width: 35%;
}

.landingNavMenuList {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.landingNavMenuBox {
  cursor: pointer;
}

.landingNavMenuBox:hover .landingMenuTitles {
  color: #2b4783;
}

.landingMenuTitles {
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 600;

  text-decoration: none;
}
